
body
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(237, 235, 235);
    display: grid;
    grid-template-areas: "entete entete entete"
                         "nav-bar conteneur table-matiere"
                         "pied pied pied";
    justify-content: center;
    font-family: sans-serif;
}

.entete{grid-area: entete;}
.nav-bar{grid-area: nav-bar;}
.table-matiere{grid-area: table-matiere;}
.conteneur{grid-area: conteneur;}
.footer{grid-area: pied;}

.entete
{
    text-align: center;
    background-color: rgb(38, 38, 65);
    padding: 10px;
    color: white;
}

.nav-bar,.table-matiere
{
    background-color: rgb(38, 38, 97);
    border: 1px solid rgb(37, 36, 36);
    line-height: 3em;
    width: 280px;
    padding: 5px;
    
}

ul
{
    list-style-type: none;
}

a
{
    color: bisque;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 3px;
}

a:hover
{
    color: gray;
    background-color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 5px 20px;
    margin-left: 5px;
    border-radius: 3px;
}

.conteneur
{
    border: 1px solid gray;
    width: 1000px;
    display: grid;
    grid-template-rows: repeat(3,160px);
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    
}

.item
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    border: 1px dotted grey;
    padding: 5px;
    background-color: gainsboro;
    font-weight: bold;
}

.item:hover
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    border: 1px dotted grey;
    padding: 5px;
    background-color: white;
    font-weight: bold;
}

.i2
{
    grid-row:2;
    grid-column: 1;
}

.i3
{
    grid-row:3;
    grid-column: 1;
}

.i4
{
    grid-row:3;
    grid-column: 2;
}

.i5
{
    grid-row:3;
    grid-column: 3;
}

.i6
{
    grid-row:3;
    grid-column: 4;
}

.i7
{
    grid-row:2;
    grid-column: 4;
}

.i8
{
    grid-row:1;
    grid-column: 4;
}

.i9
{
    grid-row:1;
    grid-column: 3;
}


.footer
{
    background-color: gray;
    padding: 10px;
    
}

.bold
{
    text-align: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

